.form-control {
  width: 60%;
  display: grid;
  margin-left: 20%;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.text-field {
  margin: 1rem !important;
}

.form-control Button {
  margin: 2rem !important;
}

.link {
  display: flex;
  margin: 1rem 3rem 1rem 3rem;
}
